*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# logs
src/application/logs/*
!src/application/logs/index.html
!src/application/logs/.htaccess

# bukti bayar
bukti-bayar/*
!bukti-bayar/.htaccess

# foto diri + foto kartu pelajar
players/foto/*

# composer
*/composer.lock
*/composer.phar

# environment
.env

# vendor
src/application/vendor/*
