html {
	position: relative;
}

body {
	margin-bottom: 100px;
}

section {
	min-height: 300px;
	padding: 50px;
}

h6 {
	color: white;
}

.navbar-nav {
	color: white;
}

.nav-link {
	margin-right: 50px;
}

.jumbotron {
	background: grey;
	height: 300px;
}

/* footer {
	position: absolute;
	width: 200%;
	height: 100px;
	bottom: 0;
	background-color: #343A40;
} */
