/* CSS untuk semua halaman
** 1. Coming Soon
** 2. Beranda
** 3. Login Register
** 4. User
*/

/* 1. START Coming Soon */
/*Style the Image Used to Trigger the Modal*/
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */


/* END Coming Soon */

@font-face {
	font-family: fontJudul;
	src: url(../fonts/NYCTALOPIATILT.TTF);
}

@font-face {
	font-family: fontGlobal;
	src: url(../fonts/product-sans/Product\ Sans\ Regular.ttf);
}

/* 2. START Beranda */

body {
	font-family: fontGlobal;
}

.jumbotron .judul {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	font-family: fontJudul;
}

.jumbotron p {
	font-family: fontJudul;
	font-size: 25px;
	padding-top: 20px;
	color: #238FCC;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.footer-end {
	font-size: 16px;
}

.navbar-list>li>a {
	text-decoration: none;
	color: white;
}

/* .navbar-list > li > a:hover {
	color: #238FCC;
} */


/* .nav-item {
	padding-right: 50px;
} */

.navbar h6 {
	font-size: 20px;
}

.panel {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.beranda {
	background-image: url(../img/dashboard.svg);
	background-size: cover;
}

.about {
	background-image: linear-gradient(#238FCC, #20232A);
}

.about>.container {
	background-color: white;
}

/* Background Section Dokumentasi */
.dokumentasi {
	background: linear-gradient(to bottom, #20232A 66%, #676C76 90%);
	background-size: cover;

}

/* Background Section Rundown */
.rundown {
	background-image: url(../img/section4.svg);
	background-size: cover;
	background-position: 0% 43%;
}

.rundown>.container {
	background-color: rgba(255, 255, 255, 0.6);
}

.gsponsor{
	height: 110px;
}

.gmedpar{
	height: 70px;
}

.pairing {
	min-height: 700px;
}

.section-page {
	padding-top: 120px;
	padding-bottom: 120px;
}

footer .container-fluid {
	padding-top: 25px;
	padding-bottom: 25px;
}

#foto-ig:hover {
	opacity: 0.7;
	/* background-color: yellow; */
	/* background-color: rgba(0, 0, 0, 0.5) */
}

@media (min-width: 0) {
	.beranda {
		background-position: 50% 0%;
		height: 100vh;
	}

	.about {
		margin-top: -70px;
		font-size: 14px;
	}

	.about>.container {
		width: 90%;
		padding: 35px 50px;
		border-radius: 10px;
	}

	.dokumentasi {
		margin-top: -10px;
		font-size: 14px;
	}

	.dokumentasi>.container {
		width: 90%;
		padding: 0px 50px 80px;
		border-radius: 10px;
	}

	.rundown {
		margin-top: -250px;
		font-size: 14px;
	}

	.rundown .container {
		margin-top: 140px;
		width: 90%;
		padding: 35px 50px;
		padding-top: 60px;
		border-radius: 10px;
	}

	.jumbotron .judul {
		font-size: 60px;
	}

	.footer-end {
		font-size: 12px;
	}



	.panel {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.about {
		margin-top: -80px;
		font-size: 15px;
	}

	.dokumentasi {
		font-size: 15px;
	}

	.rundown {
		margin-top: -240px;
		font-size: 15px;
	}

	.rundown>.container {
		margin-top: 140px;
	}

	.jumbotron .judul {
		font-size: 60px;
	}

	.footer-end {
		font-size: 12px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.about {
		margin-top: -80px;
		font-size: 17px;
	}

	.dokumentasi {
		font-size: 15px;
	}

	.rundown {
		margin-top: -200px;
		font-size: 15px;
	}

	.footer-end {
		font-size: 12px;
	}

	.login-footer-right {
		text-align: right;
	}

	.login-card {
		width: 50%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.about {
		margin-top: -100px;
	}

	.rundown {
		margin-top: -170px;
	}

	.jumbotron .judul {
		font-size: 130px;
	}

	.footer-end {
		font-size: 16px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.beranda {
		background-position: 0% 50%;
		height: 1000px;
	}

	.about {
		margin-top: -80px;
	}

	.about>.container {
		padding: 35px 150px;
		border-radius: 10px;
	}

	.dokumentasi {
		font-size: 14px;
	}

	.dokumentasi>.container {
		width: 90%;
		padding: 35px 50px;
		border-radius: 10px;
	}

	.rundown {
		font-size: 14px;
	}

	.rundown>.container {
		width: 90%;
		padding: 35px 50px;
		border-radius: 10px;
	}
}

/* FULL HD */
@media (min-width: 1900px) {
	.beranda {
		background-position: 0% 65%;
		height: 1200px;
	}

	.about {
		margin-top: -80px;
	}

	.about>.container {
		padding: 35px 150px;
		border-radius: 10px;
	}

	.dokumentasi {
		margin-top: -5px;
		margin-bottom: 75px;
		font-size: 14px;
	}

	.dokumentasi>.container {
		width: 90%;
		padding: 35px 50px;
		border-radius: 10px;
	}

	.rundown {
		font-size: 14px;
	}

	.rundown>.container {
		width: 90%;
		padding: 35px 50px;
		border-radius: 10px;
	}

}

@media (max-width: 767.98px) {
	.login-footer-left {
		text-align: center;
	}

	.login-footer-right {
		text-align: center;
	}
}

/* START Halaman Dokumentasi */
#docs {
	background: linear-gradient(to bottom, #78D0D8, #EAF7F9);
}

.img-round {
	border-radius: 5px;
}

/* END Halaman Dokumentasi */

/* START Halaman Tata Cara */

/* END Halaman Tata Cara */

/* START Halaman Login Register */
.logres {
	background-image: url(../img/bg_logres.svg);
	background-size: cover;
	background-position-y: 100%
}

.logres .login-card {
	background-color: #20232A;
}

.logres h1 {
	color: #17A2B8;
	font-size: 50px;
}

.logres i {
	background-color: grey;
	width: 41px;
	font-size: 1.85em;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}


@media (min-width: 1368px) {
	.rec ,.logres {
		height: 80vh;
	}
}

/* END Halaman Login Register */

/* START Halaman User */
.halaman-user {
	background: linear-gradient(to bottom, #238FCC, #F3F9F9);
}

.user {
	background: white;
	border-radius: 5px;
}

a.tombol-user {
	text-decoration: none;
}

.row-tbl-user:hover {
	background: #B0EEFD
}

.tooltip-inner {
  background-color: #6c757d !important;
}

/* END Halaman User */

/* START Halaman Pembayaran User */


/* END Halaman Pembayaran User */
